[Unit]
Description=HashiCorp Consul agent
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target swarm-node-firstboot.service
ConditionFileNotEmpty=/etc/consul.d/consul.hcl

[Service]
Type=notify
User={{ swarm_node_consul_user }}
Group={{ swarm_node_consul_group }}
ExecStart=/usr/local/bin/consul agent -config-dir=/etc/consul.d/
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5
LimitNOFILE=65536
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
